@import url("https://fonts.googleapis.com/css2?family=Mr+Dafoe&family=Permanent+Marker&family=Titillium+Web:ital,wght@1,700&display=swap");

* {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0;
}

body {
  background: beige;
}

.header {
  text-align: center;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.header-name {
  font-family: "Titillium Web", sans-serif;
  font-size: 150px;
  font-style: italic;
  line-height: 1;
  background-image: linear-gradient(
    #378dbc 0%,
    #b6e8f1 46%,
    #fff 50%,
    #32120e 54%,
    #ffc488 58%,
    #582c11 90%,
    #ec9b4e 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 4px #fff;
}

.header-style {
  position: absolute;
  z-index: 20;
  font-family: "Mr Dafoe", cursive;
  margin-top: -80px;
  margin-left: 525px;
  font-family: "Mr Dafoe", cursive;
  font-size: 128px;
  color: #f975f7;
  filter: drop-shadow(2px 2px 20px #f008b7);
  transform: rotate(-15deg);
  -webkit-text-stroke: 1px #f008b7;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  padding: 50px;
  text-align: center;
}

.artwork-section {
  margin-bottom: 10px;
}

.guess-game-section {
  /* width: 300px; */
  padding: 20px;
  border: 7px black dotted;
}

.songbyname {
  display: none;
}
